body {
  margin: 0px;
  background-image: url("밤하늘.jpg");
}

.navbar {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

i.fa-book {
  color: white;
  font-size: 40px;
}

p.title {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 150%;
}

.logo {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}
.create {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.create a:hover {
  opacity: 1;
}

p.review {
  width: 1000px;
  white-space: pre-wrap;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

div.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
h1 {
  margin-left: 50px;
  color: white;
}
.main h3 {
  margin-left: 50px;
  color: white;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  margin-left: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
  color: skyblue;
}

a.comment {
  color: skyblue;
  opacity: 0.7;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

a.comment:hover {
  opacity: 1;
}

p.comment {
  white-space: pre-wrap;
}

button.comment {
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #40e0d0;
  color: white;
  margin-left: 10px;
}

textarea {
  border-radius: 20px;
}

img {
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
  height: 260px;
}
