<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>책의 리뷰를 작성해주세요</h1>
    <h2>리뷰 목록</h2>
    {% for post in posts %}
    <li>
      <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
      <!-- 여기서 post.pk의 역할은 무엇이죠? -->
    </li>
    <br />
    {% endfor %}
    <a href="{%url 'new' %}">리뷰 작성하러 가기</a>
  </body>
</html>
