<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}?v=0.5" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <i class="fas fa-book"></i>
        <p class="title">BOOK REVIEW</p>
      </div>
      <div class="create">
        <a href="{%url 'new' %}">리뷰 작성하러 가기</a>
      </div>
    </div>
    <div class="main">
      {% for post in posts %}
      <div class="new">
        <div class="top">
          <i class="fas fa-book-open"></i>
        </div>
        <div class="bottom">
          <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
