<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>리뷰를 작성해주세요!</h1>
    <form method="POST">
      <!-- 왜 post방식으로 받는거죠? -->
      {% csrf_token %}
      <!-- 윗 문장의 역할이 뭐죠? -->
      {{ form.as_p }}
      <!-- form을 p태그의 형태로 받는다는 것이 맞나요? -->
      <button type="submit">제출 !</button>
    </form>
  </body>
</html>
